upstream http_backend {
  server     127.0.0.1:{{http_port}};
  keepalive  32;
}

server {
  listen 80;
  listen [::]:80;

  access_log  syslog:server=unix:/dev/log combined;

  server_name {{inventory_hostname}};
  client_max_body_size 12M;
  location / {
    proxy_pass             http://localhost:{{app_port}};
    proxy_set_header       X-Real-IP          $remote_addr;
    proxy_set_header       X-Forwarded-For    $proxy_add_x_forwarded_for;
    proxy_set_header       X-Forwarded-Proto  $scheme;
    proxy_set_header       Host               $http_host;
  }
}

